.font20 {
  font-size: 20px;
}
.c_0001fc {
  color: #0001fc;
}
.c_00fe00 {
  color: #00fe00;
}
.c_707070 {
  color: #707070;
}
.c_red {
  color: red;
}
.c_white {
  color: white;
}
.pos-rel {
  position: relative;
}
.pos-ab {
  position: absolute;
}
.display-flex {
  display: flex;
}
.cursor-por {
  cursor: pointer;
}
