.f_S_16 {
  font-size: 16px;
}
.f_S_18 {
  font-size: 18px;
}
.f_S_20 {
  font-size: 20px;
}
.f_S_22 {
  font-size: 22px;
}
.f_S_24 {
  font-size: 24px;
}
.f_S_26 {
  font-size: 26px;
}
.f_S_28 {
  font-size: 28px;
}
.f_S_30 {
  font-size: 30px;
}
.f_S_32 {
  font-size: 32px;
}
.l_h_18{
  line-height: 18px;
}
.l_h_20{
  line-height: 20px;
}
.l_h_22{
  line-height: 22px;
}
.l_h_24{
  line-height: 24px;
}
.l_h_26{
  line-height: 26px;
}
.l_h_28{
  line-height: 28px;
}
.l_h_30{
  line-height: 30px;
}
.l_h_32{
  line-height: 32px;
}
.l_h_34{
  line-height: 34px;
}
.l_h_36{
  line-height: 36px;
}
.l_h_38{
  line-height: 38px;
}
.l_h_40{
  line-height: 40px;
}
.f_f_wryh{
  font-family: "微软雅黑";
}
.f_f_st{
  font-family: "宋体";
}
.f_f_ht{
  font-family: "黑体";
}
.m_l_10{
  margin-left: 10px;
}
.m_l_15{
  margin-left: 15px;
}
.m_l_20{
  margin-left: 20px;
}
.b_top_border{
  border-top: 1px solid #FFF;
}
.b_bottom_border{
  border-bottom: 1px solid #FFF;
}
.c_ff0101 {
  color: #ff0101;
}
.c_0001fc {
  color: #0001fc;
}
.c_00fe00 {
  color: #00fe00;
}
.c_707070 {
  color: #707070;
}
.c_red {
  color: red;
}
.c_white {
  color: white;
}
.pos-rel {
  position: relative;
}
.pos-ab {
  position: absolute;
}
.display-flex {
  display: flex;
}
.cursor-por {
  cursor: pointer;
}
.w_100_p{
  width: 100%;
}
.h_100_p{
  height: 100%;
}
